*build*

# Директория для исполняемых файлов
/bin/
# /cmd/

# Директория для скомпилированных библиотек
# /internal/

# Упакованные архивы
*.tar
*.zip

# Исходники, которые не нужны в Git
**/*.orig

# Каталоги, создаваемые популярными инструментами
/.idea/
/.vscode/
/.env

# Конкретные файлы
.DS_Store
yarn-error.log
npm-debug.log
*.log

# Ignored locally generated Go binaries and tools
*.exe
*.dll
*.so
*.dylib

# Скомпилированные Go файлы
*.test
*.out

# Тестовые профили
*.coverprofile
*.cov

# Конфигурационные файлы для CI/CD или других инструментов
*.local

# Зависимости Golang, загружаемые в кеш
/vendor/

# go sum для управления модулями
go.sum

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front//node_modules
front//.pnp
front/.pnp.js

# testing
front//coverage

# production
front//build

# misc
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
